---
import ButtonEffect from "../../components/ButtonEffect.astro"
import IlTextExpander from "../../components/IlTextExpander.astro"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import SectionContent from "../../components/SectionContent.astro"
import SectionHeader from "../../components/SectionHeader.astro"
import IconArrow from "../../components/svg/IconArrow"
import IconBase from "../../components/svg/IconBase"
import SvgFlowerGrass from "../../components/svg/SvgFlowerGrass.astro"
import SvgFlowerBaellchen from "../../components/svg/SvgFlowerBaellchen.astro"
---

<section id="about-me" class="relative text-bluegray" data-scroll-target>
  <IconBase className="h-16 w-full -translate-y-4 text-sunset">
    <IconArrow />
  </IconBase>
  <SectionContent
    animation="slide-up"
    class="flex flex-col items-center md:gap-y-8 lg:flex-row"
  >
    <figure
      class="relative mb-12 w-2/3 pr-8 sm:w-1/2 lg:pr-16"
      data-animation="slide-up"
    >
      <picture>
        <img
          src="/images/desktop/ironleaves-photography-ueber-mich-tamara-loeffen-hochzeitsfotografin.jpg"
          alt="Tamara Loeffen Portrait"
        />
      </picture>
      <SvgFlowerGrass
        class="absolute bottom-0 right-0 -mb-8 mr-[max(-2.5rem,-8%)] w-[45%] fill-current text-sunset sm:mr-[-11%] md:-mb-12 lg:mr-0 lg:w-[40%]"
      />
    </figure>
    <div
      data-animation="slide-up"
      class="max-w-prose text-center lg:w-1/2 lg:max-w-[none] lg:flex-initial lg:text-left"
    >
      <SectionHeader>
        <span slot="roofline">Über mich</span>
        Hoch&shy;zeits&shy;foto&shy;grafin&nbsp;&amp; Gestalterin
      </SectionHeader>
      <LayoutSpacer />
      <div class="xl:lp-16 flex flex-col lg:pl-8">
        <p class="mb-4 max-w-prose">
          Hi! Ich heiße Tamara und freue mich riesig darauf Euch kennenzulernen!
        </p>
        <p class="mb-4 max-w-prose">
          Ich komme aus Bayreuth und wohne seit 2021 bei Monschau in der Eifel.
          Als Grafikdesignerin und Hochzeitsfotografin arbeite ich daran, Eure
          Hochzeit mit allen wunderbaren Erinnerungen individuell und voller
          Emotionen festzuhalten.
        </p>
        <p class="max-w-prose">
          Wenn ihr noch mehr über mich erfahren wollt, klickt auf den folgenden
          Link.
        </p>
        <LayoutSpacer />
        <ButtonEffect class="mx-auto text-sunset lg:mx-0" href="/about">
          Mehr über mich
        </ButtonEffect>
      </div>
    </div>
  </SectionContent>
  <LayoutSpacer />
  <IconBase className="absolute bottom-0 z-10 -mb-4 h-16 w-full text-sunset">
    <IconArrow />
  </IconBase>
</section>
