---
import ButtonEffect from "../../components/ButtonEffect.astro"
import IlTextExpander from "../../components/IlTextExpander.astro"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import SectionContent from "../../components/SectionContent.astro"
import SectionHeader from "../../components/SectionHeader.astro"
import IconArrow from "../../components/svg/IconArrow"
import IconBase from "../../components/svg/IconBase"
import SvgFlowerGrass from "../../components/svg/SvgFlowerGrass.astro"
---

<section id="about-me" class="text-bluegray relative" data-scroll-target>
  <IconBase className="text-sunset w-full h-16 -translate-y-4">
    <IconArrow />
  </IconBase>
  <SectionContent
    animation="slide-up"
    class="flex flex-col lg:flex-row items-center md:gap-y-8"
  >
    <figure
      class="relative w-2/3 sm:w-1/2 mb-12 pr-8 lg:pr-16"
      data-animation="slide-up"
    >
      <picture>
        <img
          src="/images/desktop/ironleaves-photography-ueber-mich-tamara-loeffen-hochzeitsfotografin.jpg"
          alt="Tamara Loeffen Portrait"
        />
      </picture>
      <SvgFlowerGrass
        class="text-sunset fill-current w-[45%] lg:w-[40%] absolute bottom-0 right-0 mr-[max(-2.5rem,-8%)] sm:mr-[-11%] lg:mr-0 -mb-8 md:-mb-12"
      />
    </figure>
    <div
      data-animation="slide-up"
      class="lg:flex-initial max-w-prose lg:max-w-[none] lg:w-1/2 text-center lg:text-left"
    >
      <SectionHeader>
        <span slot="roofline">Über mich</span>
        Hoch&shy;zeits&shy;foto&shy;grafin&nbsp;&amp; Gestalterin
      </SectionHeader>
      <LayoutSpacer />
      <div class="lg:pl-8 xl:lp-16 flex flex-col gap-4">
        <p>
          Ich heiße Tamara und freue mich jetzt schon sehr darauf, euch
          kennenzulernen!
        </p>
        <p>
          Aufgewachsen bin ich in Bayreuth, aber inzwischen wohne ich in der
          wunderschönen Eifel bei Monschau. Ich bin leidenschaftlich gerne mit
          meiner Kamera unterwegs und liebe die Natur, Sonnenuntergänge, gutes
          Essen, viel Lachen und warmen Kakao an kalten Herbsttagen.
        </p>
        <IlTextExpander>
          <p>
            Gelernt habe ich den wunderbaren Job der Mediengestalterin. Wenn ich
            also gerade keine Fotos mache, gestalte ich als Freelancerin
            Websites, Logos und sehr gerne auch Eure Hochzeitspapeterie.
          </p>
          <p>
            Auf Hochzeiten ziehen mich die Emotionen, die Aufregung und die ganz
            intimen und einzigartigen Momente besonders in den Bann. Ich denke,
            dass es im Leben unglaublich wichtig ist, das zu tun, was man liebt
            und ich kann mir nichts Schöneres vorstellen, als Liebe, Glück und
            Vertrautheit in meinen Fotos für Euch festzuhalten und euch damit
            ein Lächeln ins Gesicht zu zaubern. Ich empfinde es immer als eine
            sehr große Ehre, wenn ich mit Menschen zusammen sein darf, die sich
            mit ganz viel Liebe und Hingabe einander zugewendet haben und den
            Anfang ihres gemeinsamen, restlichen Lebens miteinander feiern
            möchten. Ich würde mich sehr freuen, wenn ich das für Euch als
            Hochzeitsfotografin machen darf.
          </p>
        </IlTextExpander>
        <LayoutSpacer />
        <ButtonEffect class="text-sunset mx-auto lg:mx-0" href="#contact">
          Schreibt mich gerne an!
        </ButtonEffect>
      </div>
    </div>
  </SectionContent>
  <LayoutSpacer />
  <IconBase className="text-sunset w-full h-16 absolute bottom-0 -mb-4 z-10">
    <IconArrow />
  </IconBase>
</section>
