---
import IlFigure from "../../components/IlFigure.astro"
import IlGradient from "../../components/IlGradient.astro"
import IlTextExpander from "../../components/IlTextExpander.astro"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import SectionContent from "../../components/SectionContent.astro"
import SectionHeader from "../../components/SectionHeader.astro"
import SectionLines from "../../components/SectionLines.astro"
import SvgHeroLine2 from "../../components/svg/SvgHeroLine2.astro"
import SvgThreeStraws from "../../components/svg/SvgThreeStraws.astro"
---

<section
  id="looks"
  data-scroll-target
  class="overflow-y-hidden bg-emerald text-white lg:relative"
>
  <IlFigure
    class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-[50%] 2xl:w-[40%]"
    animation={{ name: "slide-up", delay: 0.3 }}
  >
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="/images/mobile/ironleaves-photography-bildlooks-mobile.jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="/images/desktop/ironleaves-photography-bildlooks.jpg"
      />
      <img
        data-animation="parallax"
        class="max-h-[75vh] w-full translate-y-[-10%] scale-[1.23] object-cover lg:h-full lg:max-h-full"
        alt="Paarshooting im Freien"
      />
    </picture>
    <IlGradient halfHeight={true} class="translate-y-px" />
  </IlFigure>
  <SectionLines animation={{ name: "slide-up", y: 0 }} class="max-xl:hidden">
    <SvgHeroLine2
      class="absolute ml-[42%] h-full fill-none stroke-current stroke-2 text-sunset opacity-75 2xl:top-[-16%] 2xl:ml-[31%] 2xl:h-[124%] 2xl:rotate-[24deg]"
    />
  </SectionLines>
  <SectionContent>
    <SvgThreeStraws
      class="relative right-0 float-right -mr-6 -mt-48 mb-8 ml-4 w-[28%] fill-current md:-mt-56 md:w-1/4 lg:absolute lg:bottom-0 lg:right-0 lg:float-none lg:-mb-4 lg:mr-[45%] lg:mt-0 lg:h-[60%] lg:w-auto lg:pr-8 2xl:mr-[55%]"
    />
    <div data-animation="slide-up" class="lg:ml-[55%] lg:py-24 2xl:ml-[45%]">
      <SectionHeader>
        <span slot="roofline">Bildlooks</span>
        Die Welt ist bunt &ndash; und ihr seid es auch!
      </SectionHeader>
      <LayoutSpacer />
      <p class="mb-4 max-w-prose">
        Optional könnt ihr die Bildbearbeitung und die Anmutung Eurer Fotos
        mitbestimmen.
      </p>
      <IlTextExpander class="items-start">
        <p>
          Eure Fotos sollen Euch und Euren Charakter widerspiegeln und Eure
          Hochzeit genau so wiedergeben, wie ihr sie in Erinnerung habt. Mögt
          ihr rustikale, dunkle und warme Bilder? Oder doch reduziert, hell und
          clean? Moody oder leuchtend? Zeitlos oder modern? Sucht Euch unter
          unterschiedlichen Atmosphären genau den Look aus, der am besten zu
          Euch passt!
        </p>
      </IlTextExpander>
    </div>
  </SectionContent>
</section>
