---
import ButtonEffect from "../../components/ButtonEffect.astro"
import IlFigure from "../../components/IlFigure.astro"
import IlFigureCaption from "../../components/IlFigureCaption.astro"
import IlGradient from "../../components/IlGradient.astro"
import IlTextExpander from "../../components/IlTextExpander.astro"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import SectionContent from "../../components/SectionContent.astro"
import SectionHeader from "../../components/SectionHeader.astro"
import SectionLines from "../../components/SectionLines.astro"
import SvgHeroLine1 from "../../components/svg/SvgHeroLine1.astro"
import SvgHeroLine2 from "../../components/svg/SvgHeroLine2.astro"
import SvgSingleGrass from "../../components/svg/SvgSingleGrass.astro"
---

<section
  id="services"
  data-scroll-target
  class="relative bg-bluegray text-white"
>
  <div
    class="relative lg:absolute lg:inset-y-0 lg:right-0 lg:w-[50%] 2xl:w-[40%]"
  >
    <IlFigure animation={{ name: "slide-up" }} class="lg:h-full lg:w-full">
      <img
        data-animation="parallax"
        class="max-h-[75vh] w-full translate-y-[-10%] scale-[1.23] object-cover lg:h-full lg:max-h-full"
        alt="Ehrliche Schnappschüsse"
        src="/images/desktop/ironleaves-photography-leistungen.jpg"
      />
      <IlGradient
        direction="disabled"
        halfHeight={true}
        class="translate-y-2 bg-gradient-to-t lg:top-0 lg:translate-y-0 lg:bg-gradient-to-br lg:opacity-25"
      />
    </IlFigure>
  </div>
  <SectionLines
    class="z-10 max-xl:hidden"
    animation={{ name: "slide-up", y: 0 }}
  >
    <SvgHeroLine1
      class="absolute ml-[37%] mt-[-0.5rem] h-[calc(100%+2rem)] fill-none stroke-current stroke-2 text-white opacity-25 2xl:ml-[50%]"
    />
    <SvgHeroLine2
      class="absolute ml-[49%] h-full fill-none stroke-current stroke-2 text-sunset opacity-75 2xl:ml-[55%]"
    />
  </SectionLines>
  <SectionContent class="relative z-10">
    <div class="lg:mr-[55%] lg:py-32 2xl:mr-[45%]">
      <SvgSingleGrass
        class="relative z-10 float-right mb-4 mt-[-25%] w-[39%] fill-current text-white sm:w-[30%] md:mr-6 lg:absolute lg:bottom-0 lg:left-0 lg:-mb-2 lg:ml-[45%] lg:w-[18%] 2xl:ml-[55%] 2xl:mr-[28%]"
        animation={{ name: "slide-up", y: 0 }}
      />
      <div data-animation="slide-up">
        <SectionHeader>
          <span slot="roofline">Leistungen</span>
          Für einen unvergess­lichen Tag
        </SectionHeader>
        <LayoutSpacer />
        <p class="mb-4 max-w-prose">
          Die Auswahl eines Fotografen für Eure Hochzeit ist eine bedeutende
          Entscheidung, denn nicht nur die Fotos sollen wunderschön sein,
          sondern auch die Chemie zwischen Euch und Eurem Fotografen muss
          stimmen. Die Bilder sollen auch noch Jahre später Gänsehaut
          verursachen und Euch ein Lächeln ins Gesicht zaubern. Deshalb möchte
          ich nicht nur als Fotograf, sondern auch als Unterstützerin,
          Beraterin, Designerin und Freundin an Eurer Seite sein und Teil eurer
          Hochzeit werden.
        </p>
        <p class="max-w-prose">
          Hier findet ihr alle wichtigen Informationen für Eure Buchung, Tipps
          zur Auswahl des richtigen Hochzeitsfotografen und mein fairer Preis
          für Eure wunderschönen und einzigartigen Erinnerungen.
        </p>
        <LayoutSpacer />
        <ButtonEffect class="mx-auto lg:mx-0" href="/services">
          Zur Leistungsübersicht
        </ButtonEffect>
      </div>
    </div>
  </SectionContent>
</section>
