---
import { getEntryBySlug } from "astro:content"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import IlStoryTelling from "../../components/ReactStoryTelling"
import SectionHeader from "../../components/SectionHeader.astro"
import IconArrow from "../../components/svg/IconArrow"
import IconBase from "../../components/svg/IconBase"
import { splitAt } from "../../lib/collections"

const document = await getEntryBySlug("services", "5-packages")
const chapters = splitAt(document.body.split("\n") ?? [], (s) =>
  s.startsWith("##"),
)
  .filter((lines) => !lines.every((line) => line === ""))
  .map((lines) => lines.join("\n"))
---

<div class="bg-dust text-bluegray">
  <IconBase className="text-sunset w-full h-16 -translate-y-4">
    <IconArrow />
  </IconBase>

  <LayoutSpacer />

  <SectionHeader class="text-center">
    <span slot="roofline" set:html={document.data.roofline} />
    {document.data.title}
  </SectionHeader>

  <IlStoryTelling client:load imgs={document.data.imgs!!} chapters={chapters} />
</div>
