---
import { getEntryBySlug } from "astro:content"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import ReactStoryTelling from "../../components/ReactStoryTelling"
import SectionHeader from "../../components/SectionHeader.astro"
import IconArrow from "../../components/svg/IconArrow"
import IconBase from "../../components/svg/IconBase"
import { compileAndSplitChapters } from "../../lib/content"

const document = await getEntryBySlug("services", "5-packages")
const chapters = await compileAndSplitChapters(document.body)
---

<div class="bg-dust text-bluegray">
  <IconBase className="text-sunset w-full h-16 -translate-y-4">
    <IconArrow />
  </IconBase>

  <LayoutSpacer />

  <SectionHeader class="text-center">
    <span slot="roofline" set:html={document.data.roofline} />
    {document.data.title}
  </SectionHeader>

  <ReactStoryTelling
    client:load
    chapters={chapters.map((chapter, index) => {
      const [title, ...content] = chapter
      return {
        title: title.textContent,
        content: content.join("\n"),
        image: { filename: document.data.imgs?.[index]! },
      }
    })}
  />
</div>
