---
import { getEntryBySlug } from "astro:content";
import IlStoryTelling from "../../components/IlStoryTelling.astro";
import LayoutSpacer from "../../components/LayoutSpacer.astro";
import SectionHeader from "../../components/SectionHeader.astro";
import IconArrow from "../../components/svg/IconArrow.astro";
import IconBase from "../../components/svg/IconBase.astro";
import type { Chapter } from "../../lib/blog";
import { compileAndSplitChapters } from "../../lib/content";

const document = await getEntryBySlug("services", "5-packages");
const chapters: Chapter[] = (await compileAndSplitChapters(document.body)).map(
  (children, index) => ({
    children,
    img: document.data.imgs!![index],
  })
);
---

<div class="bg-dust text-bluegray" x-data="StoryTelling">
  <IconBase class="text-sunset w-full h-16 -translate-y-4">
    <IconArrow />
  </IconBase>

  <LayoutSpacer />

  <SectionHeader class="text-center">
    <span slot="roofline" set:html={document.data.roofline} />
    {document.data.title}
  </SectionHeader>

  <IlStoryTelling chapters={chapters} />
</div>

<script>
  import "../../components/alpine/StoryTelling";
</script>
