---
import { getEntryBySlug } from "astro:content";
import IlFigure from "../../components/IlFigure.astro";
import IlFigureCaption from "../../components/IlFigureCaption.astro";
import IlGradient from "../../components/IlGradient.astro";
import LayoutSpacer from "../../components/LayoutSpacer.astro";
import SectionContent from "../../components/SectionContent.astro";
import SectionHeader from "../../components/SectionHeader.astro";
import SectionLines from "../../components/SectionLines.astro";
import SvgHeroLine1 from "../../components/svg/SvgHeroLine1.astro";
import SvgHeroLine2 from "../../components/svg/SvgHeroLine2.astro";
import SvgSingleGrass from "../../components/svg/SvgSingleGrass.astro";

const document = await getEntryBySlug("services", "3-investment");
const { Content } = await document.render();
---

<section class="bg-emerald text-white relative overflow-y-hidden">
  <div
    class="relative lg:absolute lg:w-[50%] 2xl:w-[40%] lg:inset-y-0 lg:right-0"
  >
    <IlFigure class="slide-up lg:h-full lg:w-full" data-delay="0.3">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
              /images/mobile/ironleaves-photography-werte-mobile.jpg
            "
        />
        <source
          media="(min-width: 768px)"
          srcset="/images/desktop/ironleaves-photography-werte.jpg"
        />
        <img
          class="object-cover w-full max-h-[75vh] lg:max-h-full lg:h-full translate-y-[-10%] scale-[1.23]"
          alt="Ehrliche Schnappschüsse"
        />
      </picture>
      <IlGradient
        direction="disabled"
        halfHeight={true}
        class="bg-gradient-to-t lg:bg-gradient-to-br lg:top-0 lg:opacity-25 translate-y-2 lg:translate-y-0"
      />
    </IlFigure>
    <IlFigureCaption
      class="lg:text-right lg:left-0 lg:top-0 lg:pt-12 lg:px-0 lg:ml-[-40%] z-20"
    >
      <div>
        Invest in beautiful<br />memories
      </div>
    </IlFigureCaption>
  </div>
  <SectionLines class="xl:block z-10" data-delay="1" data-y="0">
    <SvgHeroLine1
      class="absolute text-white opacity-25 stroke-current stroke-2 fill-none h-[calc(100%+2rem)] mt-[-0.5rem] ml-[37%] 2xl:ml-[50%]"
    />
    <SvgHeroLine2
      class="absolute text-sunset opacity-75 stroke-current stroke-2 fill-none h-full ml-[49%] 2xl:ml-[55%]"
    />
  </SectionLines>
  <SectionContent class="relative z-10">
    <div class="lg:py-32 lg:mr-[55%] 2xl:mr-[45%]">
      <SvgSingleGrass
        class="relative lg:absolute w-[39%] sm:w-[30%] lg:w-[18%] float-right mt-[-25%] md:mr-6 2xl:mr-[28%] mb-4 lg:-mb-2 lg:ml-[45%] 2xl:ml-[55%] text-white fill-current lg:bottom-0 lg:left-0 z-10"
      />
      <div>
        <SectionHeader>
          <span slot="roofline" set:html={document.data.roofline} />
          <Fragment set:html={document.data.title} />
        </SectionHeader>
        <LayoutSpacer />
        <div class="max-w-prose space-y-4">
          <Content />
        </div>
      </div>
    </div>
  </SectionContent>
</section>
