---
import { getEntryBySlug } from "astro:content"
import IlFigure from "../../components/IlFigure.astro"
import IlFigureCaption from "../../components/IlFigureCaption.astro"
import IlGradient from "../../components/IlGradient.astro"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import SectionContent from "../../components/SectionContent.astro"
import SectionHeader from "../../components/SectionHeader.astro"
import SectionLines from "../../components/SectionLines.astro"
import SvgHeroLine1 from "../../components/svg/SvgHeroLine1.astro"
import SvgHeroLine2 from "../../components/svg/SvgHeroLine2.astro"
import SvgSingleGrass from "../../components/svg/SvgSingleGrass.astro"

const document = await getEntryBySlug("services", "3-investment")
const { Content } = await document.render()
---

<section class="relative overflow-y-hidden bg-emerald text-white">
  <div
    class="relative lg:absolute lg:inset-y-0 lg:right-0 lg:w-[50%] 2xl:w-[40%]"
  >
    <IlFigure class="slide-up lg:h-full lg:w-full" data-delay="0.3">
      <picture>
        <img
          data-animation="parallax"
          class="max-h-[75vh] w-full translate-y-[-10%] scale-[1.23] object-cover lg:h-full lg:max-h-full"
          src={document.data.sectionImg}
          alt="Pärchenshooting"
        />
      </picture>
      <IlGradient
        direction="disabled"
        halfHeight={true}
        class="translate-y-2 bg-gradient-to-t lg:top-0 lg:translate-y-0 lg:bg-gradient-to-br lg:opacity-25"
      />
    </IlFigure>
    <IlFigureCaption
      class="z-20 lg:left-0 lg:top-0 lg:ml-[-40%] lg:px-0 lg:pt-12 lg:text-right"
    >
      <div>
        Invest in beautiful<br />memories
      </div>
    </IlFigureCaption>
  </div>
  <SectionLines class="z-10 xl:block" data-delay="1" data-y="0">
    <SvgHeroLine1
      class="absolute ml-[37%] mt-[-0.5rem] h-[calc(100%+2rem)] fill-none stroke-current stroke-2 text-white opacity-25 2xl:ml-[50%]"
    />
    <SvgHeroLine2
      class="absolute ml-[49%] h-full fill-none stroke-current stroke-2 text-sunset opacity-75 2xl:ml-[55%]"
    />
  </SectionLines>
  <SectionContent class="relative z-10">
    <div class="lg:mr-[55%] lg:py-32 2xl:mr-[45%]">
      <SvgSingleGrass
        class="relative z-10 float-right mb-4 mt-[-25%] w-[39%] fill-current text-white sm:w-[30%] md:mr-6 lg:absolute lg:bottom-0 lg:left-0 lg:-mb-2 lg:ml-[45%] lg:w-[18%] 2xl:ml-[55%] 2xl:mr-[28%]"
      />
      <div>
        <SectionHeader>
          <span slot="roofline" set:html={document.data.roofline} />
          <Fragment set:html={document.data.title} />
        </SectionHeader>
        <LayoutSpacer />
        <div class="max-w-prose space-y-4">
          <Content />
        </div>
      </div>
    </div>
  </SectionContent>
</section>
