---
import { getEntry } from "astro:content"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import SectionContent from "../../components/SectionContent.astro"
import SectionHeader from "../../components/SectionHeader.astro"

const document = await getEntry("about", "4-style")
const { Content } = await document.render()
---

<section>
  <SectionContent class="text-bluegray" fluffy={true}>
    <div class="flex flex-col items-center md:gap-8 lg:flex-row">
      <figure
        class="relative mb-12 w-full pl-8 sm:w-2/3 lg:order-2 lg:pl-16"
        data-delay="0.3"
      >
        <picture>
          <img
            class="w-full object-cover"
            src={document.data.sectionImg}
            alt="Tamara und Timon"
          />
        </picture>
      </figure>
      <div
        class="max-w-prose text-center lg:order-1 lg:w-1/2 lg:max-w-[none] lg:flex-initial lg:text-left"
      >
        <SectionHeader>
          <span slot="roofline" set:html={document.data.roofline} />
          <Fragment set:html={document.data.title} />
        </SectionHeader>
        <LayoutSpacer />
        <div class="flex max-w-prose flex-col gap-y-4">
          <Content />
        </div>
      </div>
    </div>
  </SectionContent>
</section>
