---
import { getEntryBySlug } from "astro:content"
import IlAnimatedHeroFlower from "../../components/IlAnimatedHeroFlower.astro"
import IlFigure from "../../components/IlFigure.astro"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import SectionContent from "../../components/SectionContent.astro"
import SectionHeader from "../../components/SectionHeader.astro"
import SectionLines from "../../components/SectionLines.astro"
import SvgHeroLine1 from "../../components/svg/SvgHeroLine1.astro"
import SvgHeroLine2 from "../../components/svg/SvgHeroLine2.astro"
import SvgHeroLine3 from "../../components/svg/SvgHeroLine3.astro"

const document = await getEntryBySlug("about", "1-intro")
const { Content } = await document.render()
---

<section class="bg-bluegray text-white">
  <IlFigure>
    <picture>
      <img
        data-animation="parallax"
        class="max-h-[75vh] w-full translate-y-[-10%] scale-[1.2] object-cover md:translate-y-0"
        data-start="top center"
        src={document.data.heroImg}
        alt="Tamara Loeffen, Hochzeitsfotografin"
      />
    </picture>
  </IlFigure>
  <div class="relative">
    <SectionLines class="sm:block">
      <SvgHeroLine2
        class="absolute right-0 mr-[23%] h-[110%] rotate-[-20deg] fill-none stroke-current stroke-2 text-sunset opacity-75 md:mr-[34%] md:h-full md:rotate-0"
      />
      <SvgHeroLine1
        class="absolute right-0 top-[-0.5rem] mr-[11%] hidden h-[calc(100%+2rem)] fill-none stroke-current stroke-2 opacity-25 md:block"
      />
      <SvgHeroLine3
        class="absolute right-0 mr-[1%] hidden h-full fill-none stroke-current stroke-2 opacity-50 lg:block"
      />
    </SectionLines>
    <SectionContent class="relative" fluffy={true}>
      <IlAnimatedHeroFlower class="max-sm:!w-[43%]" />
      <SectionHeader>
        <span slot="roofline" set:html={document.data.roofline} />
        <Fragment set:html={document.data.title} />
      </SectionHeader>
      <LayoutSpacer />
      <div class="flex max-w-xs flex-col gap-4 xl:max-w-sm">
        <Content />
      </div>
    </SectionContent>
  </div>
</section>
