@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Melinda;
    font-weight: 400;
    /* TODO: lizenz ist nicht frei */
    src: url(~/assets/fonts/Melinda.otf)
  }

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Playfair+Display:wght@700&display=swap');

  .font-wavy {
    line-height: 0.87;
    font-size: clamp(2.5rem, calc(2.5rem + ((1vw - 0.234375rem) * 7.9558)), 7rem);
    min-height: 0vw;
  }

  .font-roofline {
    /* TODO */
  }

  :root {
    /* TODO */
  }

  .font-screaming {
    /* TODO */
  }
}
