@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* stylelint-disable-next-line no-invalid-position-at-import-rule */
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Playfair+Display:wght@400;700&display=swap');

  @font-face {
    font-family: Flanella;
    font-weight: 400;
    src: url(~/assets/fonts/flanella.ttf)
  }

  :root {
    font-family: 'Nunito', sans-serif;
  }
}

@layer utilities {
  .caption {
    font-family: 'Flanella', serif;
    line-height: 0.6;
    font-size: clamp(2.5rem, calc(2.5rem + ((1vw - 0.234375rem) * 7.9558)), 7rem);
    /* stylelint-disable-next-line length-zero-no-unit */
    min-height: 0vw;
  }

  h1 {
    .roofline {
      letter-spacing: 0.15em;
      font-size: clamp(1rem, calc(1rem + ((1vw - 0.234375rem) * 0.663)), 1.375rem);
      /* stylelint-disable-next-line length-zero-no-unit */
      min-height: 0vw;
    }

    .headline {
      font-family: 'Playfair Display', serif;
      font-size: clamp(2rem, calc(2rem + ((1vw - 0.234375rem) * 3.5359)), 4rem);
      line-height: 1;
      /* stylelint-disable-next-line length-zero-no-unit */
      min-height: 0vw;
    }
  }

  h2 {
    font-family: 'Playfair Display', serif;
  }
}
