---
import LayoutSpacer from "../components/LayoutSpacer.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import SectionLines from "../components/SectionLines.astro"
import SvgHeroFlower from "../components/svg/SvgHeroFlower.astro"
import SvgHeroLine1 from "../components/svg/SvgHeroLine1.astro"
import SvgHeroLine2 from "../components/svg/SvgHeroLine2.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section class="relative bg-sunset text-white">
    <SectionLines class="max-xl:hidden">
      <div class="absolute right-0 h-full w-[70%]">
        <div class="relative h-full w-full">
          <SvgHeroLine1
            class="absolute right-0 top-0 mr-[-39%] mt-[-5%] h-[106%] rotate-[-18deg] fill-none stroke-current stroke-1 text-white opacity-25"
          />
          <SvgHeroLine2
            class="absolute right-0 mt-[-2.5%] h-[110%] scale-x-[-1] fill-none stroke-current stroke-1 text-bluegray opacity-50"
          />
          <SvgHeroFlower
            class="absolute right-0 top-0 mr-[6%] mt-[1%] h-[84%] fill-current"
          />
        </div>
      </div>
    </SectionLines>
    <SectionContent class="relative grid grid-cols-1 xl:grid-cols-2">
      <div class="max-w-prose">
        <SectionHeader>
          <span slot="roofline" class="text-white">Kontakt</span>
          Danke :)
        </SectionHeader>
        <LayoutSpacer />
        <p>
          Vielen Dank für eure Nachricht! Ich melde mich so bald wie möglich.
        </p>
      </div>
    </SectionContent>
  </section>
</Layout>
