---
import { getEntryBySlug } from "astro:content"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import SectionHeader from "../../components/SectionHeader.astro"

const document = await getEntryBySlug("looks", "2-comparison")
const { Content } = await document.render()

const front = "sm:z-20 start-row-1 col-span-4"
const middle = "sm:scale-75 sm:z-10 row-start-2"
const back = "sm:scale-50 row-start-2"
const cssClasses: Record<number, string[]> = {
  0: [back, "sm:translate-x-[-75%]"],
  1: [middle, "sm:translate-x-[-40%]"],
  2: [front],
  3: [middle, "sm:translate-x-[40%]"],
  4: [back, "sm:translate-x-[75%]"],
}
---

<section class="2xl:py-[min(15vh,10rem)] text-bluegray mt-24 md:mt-40 px-16">
  <div
    class="grid grid-rows-[4fr,1fr] grid-cols-4 justify-between gap-2 sm:block relative sm:h-[50vh] lg:h-[85vh] sm:aspect-[3/1.4] mx-auto max-w-full"
  >
    {
      (document.data.imgs ?? []).map((img, index) => (
        <div
          class:list={[
            cssClasses[index],
            "sm:absolute inset-0 inline-block w-full sm:w-[50%] h-full m-auto",
          ]}
        >
          <div class="h-full origin-center">
            <img
              class="w-full h-full object-cover sm:object-contain aspect-square sm:aspect-[1/3]"
              src={img}
            />
          </div>
        </div>
      ))
    }
  </div>

  <div class="max-w-prose mx-auto mt-[6rem] md:mt-[10rem]">
    <SectionHeader class="text-center" set:html={document.data.title} />

    <LayoutSpacer />

    <Content />
  </div>
</section>
