---
import { getEntryBySlug } from "astro:content"
import ReactStoryTelling from "../../components/ReactStoryTelling"
import SectionContent from "../../components/SectionContent.astro"
import SectionHeader from "../../components/SectionHeader.astro"
import { compileAndSplitChapters } from "../../lib/content"

const document = await getEntryBySlug("looks", "3-aspects")
const chapters = await compileAndSplitChapters(document.body)
---

<section class="bg-dust text-bluegray">
  <SectionContent>
    <SectionHeader
      class="text-center max-lg:mt-20"
      set:html={document.data.title}
    />

    <ReactStoryTelling
      client:load
      chapters={chapters.map((chapter, index) => {
        const [title, ...content] = chapter
        return {
          title: title.textContent,
          content: content.join("\n"),
          image: { filename: document.data.imgs?.[index]! },
        }
      })}
    />
  </SectionContent>
</section>
