<li
  role="link"
  class="text-sunset uppercase cursor-pointer flex justify-between"
  @click="$emit('click', active ? '' : tag)"
>
  <span :class="{ 'underline font-bold': query === tag }">{{ label }}</span>
  <span v-if="active" :class="{ 'font-bold': query === tag }" class="md:hidden"
    >x</span
  >
</li>

<!-- <script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    tag: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    query: {
      type: String,
      required: true
    },
  },
  computed: {
    active() {
      return this.tag === this.query
    }
  }
})
</script> -->
