---
import IconBase from "./svg/IconBase";
import IconArrow from "./svg/IconArrow";

type Props = {
  title?: string;
  class?: string;
  href: string;
};

const { title, class: classes, href } = Astro.props;
---

<a class:list={[classes]} href={href} title={title}>
  <IconBase className="rotate-180"><IconArrow /></IconBase>
</a>
