---
import SvgHeroFlower from "./svg/SvgHeroFlower.astro"

const { class: classes } = Astro.props
---

<div
  x-data="FlowerAnimation"
  x-cloak
  x-show="true"
  class:list={[
    classes,
    "hero-flower relative float-right mr-[max(-10%,-2rem)] mt-[-61%] w-[50%] md:mr-[max(-9%,-4rem)] md:mt-[max(-57%,-25rem)] md:w-[min(53%,25rem)] lg:mr-0 lg:mt-[-41%] lg:w-[40%] xl:mr-[-2%]",
  ]}
>
</div>
<SvgHeroFlower
  noJs={true}
  class="hero-flower relative float-right -mr-4 mt-[-41%] w-[37%] fill-current md:mt-[-33%] lg:mr-[7%] lg:mt-[-27%] lg:w-[30%] xl:mt-[-24%] xl:w-[27%]"
/>

<script>
  import { animateHeroFlower } from "../lib/lottie"
  import Alpine from "alpinejs"

  Alpine.data("FlowerAnimation", () => ({
    init() {
      animateHeroFlower(this.$el)
      this.$el.dispatchEvent(new CustomEvent("domchanged", { bubbles: true }))
    },
  }))
</script>

<style>
  .hero-flower {
    shape-outside: polygon(
      112.95% 2.53%,
      -6.32% -21.73%,
      28.48% 35%,
      21.59% 65.9%,
      87.94% 101.47%
    );
  }
</style>
