---
import IlGradient from "./IlGradient.astro"
import IconArrow from "./svg/IconArrow"
import IconBase from "./svg/IconBase"

type Props = {
  id: string
  class?: string
  side: "left" | "right"
}

const { id, class: classes, side } = Astro.props
---

<div
  class:list={[
    "absolute bottom-0 top-0 z-20 mb-8 flex items-end",
    classes,
    side === "left" ? "left-0" : "right-0",
  ]}
>
  <IlGradient
    direction={side === "left" ? "right" : "left"}
    halfOpacity={true}
  />
  <button
    id={id}
    class:list={[
      `mb-2 cursor-pointer text-white`,
      side === "left" ? "ml-4 mr-4 md:ml-8" : "ml-4 mr-4 md:mr-8",
    ]}
  >
    <IconBase
      className={`w-10 text-white lg:w-16 ${
        side === "left" ? "rotate-90" : "-rotate-90"
      }`}
    >
      <IconArrow />
    </IconBase>
  </button>
</div>
