---
import IlSlider from "./IlSlider.astro"
import ReactStoryTelling from "./ReactStoryTelling"
import LayoutSpacer from "./LayoutSpacer.astro"
import SectionContent from "./SectionContent.astro"
import { type SBChapter } from "../lib/blog"
import { renderRichText } from "@storyblok/astro"

type Props = {
  slides?: string[]
  chapters?: SBChapter[]
}

const { slides, chapters } = Astro.props
---

<div class="pb-6 text-bluegray">
  <div class="bg-dust">
    <SectionContent class="flex flex-col items-center gap-8 lg:flex-row">
      <slot name="image" />
      <div
        class="mx-auto flex max-w-prose flex-initial flex-col gap-4 text-center lg:mx-0 lg:w-1/2 lg:text-left"
      >
        <slot name="title" />
        <slot name="content" />
        <LayoutSpacer responsive={false} ms={1} />
      </div>
    </SectionContent>
  </div>
  <ReactStoryTelling
    client:load
    className="bg-white"
    chapters={chapters?.map((chapter) => ({
      ...chapter,
      content: renderRichText(chapter.content),
    }))}
  />
  {
    slides?.length ? (
      <div class="h-[50vh]">
        <IlSlider id="story" class="h-full" slides={slides} />
      </div>
    ) : null
  }
</div>
