---
import IlSlider from "./IlSlider.astro"
import ReactStoryTelling from "./ReactStoryTelling"
import LayoutSpacer from "./LayoutSpacer.astro"
import SectionContent from "./SectionContent.astro"
import { type SBChapter } from "../lib/blog"
import { renderRichText } from "@storyblok/astro"
import IlStoryHeader from "./IlStoryHeader.astro"

type Props = {
  slides?: string[]
  chapters?: SBChapter[]
}

const { slides, chapters } = Astro.props
---

<div class="pb-6 text-bluegray">
  <IlStoryHeader>
    <slot name="image" slot="image" />
    <slot name="title" slot="title" />
    <slot name="content" slot="content" />
  </IlStoryHeader>
  <ReactStoryTelling
    client:load
    className="bg-white"
    chapters={chapters?.map((chapter) => ({
      ...chapter,
      content: renderRichText(chapter.content),
    }))}
  />
  {
    slides?.length ? (
      <div class="h-[50vh]">
        <IlSlider id="story" class="h-full" slides={slides} />
      </div>
    ) : null
  }
</div>
