---
type Props = {
  class?: string
  shadowClass?: string
  index: number
}

const {
  index,
  class: classes,
  shadowClass = "[--shadow-size:4px]",
} = Astro.props
---

<div
  class:list={[
    "h-[.5em] w-[.5em] origin-[75%_25%] translate-x-[-25%] translate-y-[25%] rotate-[135deg] border-current transition-all duration-300 ease-linear [border-right-width:var(--shadow-size)] [border-top-width:var(--shadow-size)]",
    classes,
    shadowClass,
  ]}
  x-bind:class={`open[${index}] && '!rotate-[-45deg]'`}
>
</div>
