---
import LayoutContainer from "./LayoutContainer.astro"
import LayoutSpacer from "./LayoutSpacer.astro"

const year = new Date().getFullYear()
---

<footer class="relative bg-dust pt-8 text-bluegray">
  <LayoutContainer>
    <div x-cloak x-show="true" x-data="Curator">
      <LayoutSpacer />
      <h2 class="font-bold">Folgt mir auf Instagram!</h2>
      <LayoutSpacer />
      <div id="curator-feed-default-feed-layout">
        <a
          href="https://curator.io"
          target="_blank"
          class="crt-logo crt-tag text-sm text-bluegray"
        >
          Powered by Curator.io
        </a>
      </div>
      <LayoutSpacer />
      <hr class="mb-8 md:hidden" />
    </div>
    <div
      class="grid grid-flow-col auto-rows-auto grid-cols-3 gap-x-4 gap-y-1 text-center lg:grid-cols-[2fr,1fr,1fr,1fr] lg:grid-rows-[(repeat(3,auto))]"
    >
      <div
        class="col-span-3 col-start-1 row-start-4 mt-2 self-end text-center lg:col-span-1 lg:row-span-3 lg:row-start-1 lg:mt-0 lg:text-left"
      >
        &copy; Tamara Loeffen &ndash; Ironleaves Photography {year}
      </div>
      <a href="/services">Leistungen</a>
      <a href="/stories">Blog</a>
      <a href="/looks">Bildlooks</a>
      <a target="_blank" href="https://instagram.com/ironleaves_photography/">
        Instagram
      </a>
      <a
        target="_blank"
        href="https://www.facebook.com/Ironleaves-Photography-110234704840320"
      >
        Facebook
      </a>
      <a target="_blank" href="https://www.pinterest.de/ironleaves_photography">
        Pinterest
      </a>
      <a href="/agbs">AGBs</a>
      <a href="/datenschutz">Datenschutz</a>
      <a href="/impressum">Impressum</a>
    </div>
  </LayoutContainer>
  <a
    href="https://ironleaves-design.com"
    target="_blank"
    class="mt-4 block bg-bluegray py-2 text-center text-white underline"
  >
    Designed by Ironleaves Design
  </a>
</footer>

<script>
  import Alpine from "alpinejs"
  import { loadCurator } from "../lib/curator"

  Alpine.data("Curator", () => ({
    init() {
      loadCurator()
    },
  }))
</script>
