---
type Props = {
  class?: string
  animation?: { name: "slide-up"; y: number }
}

const { class: classes, animation } = Astro.props
---

<div
  class:list={["absolute inset-0 overflow-hidden", classes]}
  data-animation={animation?.name}
  data-y={animation?.y}
>
  <div class="relative mx-auto h-full max-w-screen-xl">
    <slot />
  </div>
</div>
