---
type Props = {
  class?: string
}

const { class: classes } = Astro.props
---

<div class={classes}>
  <div class="roofline block text-sunset uppercase">
    <slot name="roofline" />
  </div>
  <h1><slot name="default" /></h1>
</div>
