---
import Layout from "../../layouts/Layout.astro"
import IconBase from "../../components/svg/IconBase"
import IconArrow from "../../components/svg/IconArrow"
import LayoutSpacer from "../../components/LayoutSpacer.astro"
import ContactLink from "../../components/ContactLink.astro"
import LooksIntro from "../../sections/looks/LooksIntro.astro"
import LooksComparison from "../../sections/looks/LooksComparison.astro"
import LooksAspects from "../../sections/looks/LooksAspects.astro"
import LooksHowTo from "../../sections/looks/LooksHowTo.astro"
import LooksTips from "../../sections/looks/LooksTips.astro"
import LooksWhyCustomLook from "../../sections/looks/LooksWhyCustomLook.astro"
import LooksIronleavesLook from "../../sections/looks/LooksIronleavesLook.astro"
import IlSlider from "../../components/IlSlider.astro"

const slides = [
  "/images/looks/ironleaves-photography-bildlooks-slider-doris-cedrik-allee-muenchen.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-doris-cedrik-brautstrauss.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-doris-cedrik-sonnenuntergang.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-doris-cedrik-sunflare-sonnenuntergang.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-doris-cedrik-tanzen.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-katha-johann-natuerlich.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-katha-johann-portrait.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-katha-johann-shooting.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-katha-johann-tanz.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-katha-johann-wald-herbst.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-katha-johann-wald.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-melli-marco-detail.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-melli-marco-lensflare.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-melli-marco-sonnenuntergang.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-melli-marco-wald-lichtung.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-melli-marco-wald.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-melli-marco-waldweg.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-melli-marco-wiese.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-valerie-max-bank.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-valerie-max-braut.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-valerie-max-eskimokuss.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-valerie-max-natuerlich.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-valerie-max-wald.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-valerie-max-waldweg.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-valerie-max-wanderschuhe.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-verena-uwe-danke.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-verena-uwe-intim.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-verena-uwe-ringe.jpg",
  "/images/looks/ironleaves-photography-bildlooks-slider-verena-uwe-schleier.jpg",
]
---

<Layout>
  <LooksIntro />

  <LooksComparison />

  <IconBase className="h-16 w-full translate-y-8 text-sunset">
    <IconArrow />
  </IconBase>

  <LooksAspects />

  <LayoutSpacer />

  <LooksHowTo />

  <LooksWhyCustomLook />

  <LooksIronleavesLook />

  <div class="mb-8">
    <IlSlider id="looks-slider" slides={slides} />
  </div>

  <LayoutSpacer />

  <IconBase className="h-16 w-full -translate-y-6 text-sunset">
    <IconArrow />
  </IconBase>

  <LooksTips />

  <LayoutSpacer />

  <ContactLink />

  <LayoutSpacer />

  <IconBase className="relative z-10 h-16 w-full translate-y-12 text-sunset">
    <IconArrow />
  </IconBase>
</Layout>
