---
import ButtonArrow from "../components/ButtonArrow.astro"
import LayoutFooter from "../components/LayoutFooter.astro"
import LayoutLogo from "../components/LayoutLogo.astro"
import LayoutNavBar from "../components/LayoutNavBar.astro"
import "./main.css"
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Ironleaves Photography</title>
  </head>
  <body>
    <div
      class="flex min-h-screen flex-col"
      data-layout
      x-data="App"
      x-bind:class="'js'"
      x-on:domchanged="refresh"
    >
      <LayoutLogo />
      <LayoutNavBar highlightCurrentSection={true} />
      <main class="flex-1">
        <slot />
      </main>
      <LayoutFooter />
      <ButtonArrow
        class="fixed bottom-[1rem] right-[1rem] z-50 h-10 w-10 border border-sunset border-opacity-50 bg-white p-[0.35rem] text-sunset opacity-90 shadow-lg md:h-12 md:w-12"
        title="Back to top"
        href="#"
      />
    </div>
  </body>
</html>

<script>
  import Alpine from "alpinejs"
  import { parallax, slideUp, ScrollTrigger } from "../lib/gsap"

  let timer: null | NodeJS.Timeout = null

  Alpine.data("App", () => ({
    init() {
      // document.documentElement.classList.remove("scroll-smooth");
      this.$nextTick(() => {
        this.$el.querySelectorAll("[data-animation=slide-up]").forEach((el) => {
          const { y } = (el as HTMLElement).dataset
          slideUp({ y }, el as HTMLElement)
        })
        this.$el.querySelectorAll("[data-animation=parallax]").forEach((el) => {
          parallax("Landing", el as HTMLElement)
        })
      })
    },
    refresh() {
      // console.log("domChanged");
      timer != null && clearTimeout(timer)
      timer = setTimeout(() => {
        // console.log("ScrollTrigger.refresh");
        ScrollTrigger.refresh()
      }, 250)
    },
  }))
</script>
