---
import ButtonArrow from "../components/ButtonArrow.astro";
import LayoutFooter from "../components/LayoutFooter.astro";
import LayoutLogo from "../components/LayoutLogo.astro";
import LayoutNavBar from "../components/LayoutNavBar.astro";
import "./main.css";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Ironleaves Photography</title>
  </head>
  <body>
    <div
      class="min-h-screen flex flex-col"
      data-layout
      x-data
      x-bind:class="'js'"
    >
      <LayoutLogo />
      <LayoutNavBar highlightCurrentSection={true} />
      <main class="flex-1" x-data="App" x-on:domchanged="refresh">
        <slot />
      </main>
      <LayoutFooter />
      <ButtonArrow
        class="fixed bottom-[1rem] right-[1rem] bg-white text-sunset opacity-90 w-10 md:w-12 h-10 md:h-12 p-[0.35rem] shadow-lg border border-sunset border-opacity-50 z-50"
        title="Back to top"
        href="#"
      />
    </div>
  </body>
</html>

<script>
  import Alpine from "alpinejs";
  import { parallax, slideUp, ScrollTrigger } from "../lib/gsap";

  let timer: null | number = null;

  Alpine.data("App", () => ({
    init() {
      // document.documentElement.classList.remove("scroll-smooth");
      this.$nextTick(() => {
        this.$el.querySelectorAll("[data-animation=slide-up]").forEach((el) => {
          const { y } = (el as HTMLElement).dataset;
          slideUp({ y }, el as HTMLElement);
        });
        this.$el.querySelectorAll("[data-animation=parallax]").forEach((el) => {
          parallax("Landing", el as HTMLElement);
        });
      });
    },
    refresh() {
      // console.log("domChanged");
      timer != null && clearTimeout(timer);
      timer = setTimeout(() => {
        // console.log("ScrollTrigger.refresh");
        ScrollTrigger.refresh();
      }, 250);
    },
  }));
</script>
