---
// import stylesUrl from "../../layouts/main.css?url";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ironleaves Photography CMS</title>
    <script
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
      is:inline
    ></script>
    <script src="../../lib/cms.ts"></script>
  </head>

  <body></body>
</html>
