---
// import stylesUrl from "../../layouts/main.css?url";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ironleaves Photography CMS</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>

  <body>
    <!-- "remark-html": "^15.0.1",
    "remark-parse": "^10.0.1",
    "tailwindcss": "^3.2.4",
    "unified": "^10.1.2" -->
    <!-- <script
      is:inline
      src="https://unpkg.com/remark-html@^15.0.1/dist/netlify-cms.js"></script> -->
    <!-- <script
      is:inline
      src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"
    ></script> -->
  </body>
</html>

<script src="../../lib/cms.ts"></script>